@*@{
    ViewData["Title"] = "Home";
    }*@
<section class="py-3 text-center bg-dark text-light container-fluid">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Welcome to Book Application @ViewData["CustomProperty"]</h1>
            <p class="lead text-muted"> Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
        </div>
    </div>
</section>
<h1 class="py-3 container">Top Books</h1>
<div class="container">
    @await Component.InvokeAsync("TopBooks")
    @*<vc:top-books></vc:top-books>*@
</div>
@section scripts{
<script>
    $(document).ready(function () {
    })
</script>
}


