@model DiverseBookApp.Models.ForgotPasswordModel

@{
    ViewData["Title"] = "ForgotPassword";
}
<h1 class="text-center">Forgot Password</h1>
<hr />
<div class="row">
    <div class="col-md-4 offset-4">
        @if (Model?.EmailSent == true)
       {
           <div class="alert alert-success" role="alert">
               <p>If you are register with us then We have sent an email on your resistered email id!</p>
            </div>
        }
        else
        {            
        <form asp-action="ForgotPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        }
    <div class="my-4">
        Back to <a asp-action="Login" asp-controller="Account">Login</a>
    </div>
    </div>
</div>

