<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="~/images/bookImage/booklogo.jpg" width="30" asp-append-version="true" height="30" />
            </a>
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Book APP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="Home" asp-action="Index" aria-current="page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="aboutus">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="contactus">Contact us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Book" asp-action="getallbooks">Get all Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Book" asp-action="addNewBook">Add new book</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <a class="btn btn-outline-success mx-2" asp-controller="Account" asp-action="Login"> Log in </a>
                    <a class="btn btn-outline-success mx-2" asp-controller="Account" asp-action="Signup"> Register </a>
                </form>
            </div>
        </div>
    </nav>
</header>