@model BookModel

@{
    ViewData["Title"] = "Add new book";
}

<div class="container">
    <div class="display-4">Add new book</div>
    @if( ViewBag.IsSuccess)
    {        
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> New book added successfully. Click <a asp-action="getBook" asp-controller="Book" asp-route-id="@ViewBag.BookId">here</a> to view book details.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    }
    <form method="post">
        <div class="mb-3">
            <label asp-for="Title" class="form-label"></label>
            <input asp-for="Title" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Author" class="form-label"></label>
            <input asp-for="Author" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label asp-for="TotalPages" class="form-label"></label>
            <input asp-for="TotalPages" class="form-control" />
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>