@{
    ViewData["Title"] = "All books";
}
@model IEnumerable<BookModel>

<div class="container">
    <div class="display-6 py-3">
        All Books
    </div>
    <div class="row col-md-12">
        @foreach (var book in Model)
        {
            <div class="col-md-4">
                <partial name="_BookThumbnail" model="@book" />
            </div>
        }
    </div>
</div>
